<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rex.qly">

    <uses-permission android:name="android.permission.INTERNET" /><!-- Normal -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!-- Normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- Normal -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- Normal -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- Writing jpeg or log file into sdcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- Writing jpeg or log file into sdcard -->

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" /><!-- Normal -->
    <!-- Show heads-up notifications for session auth -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preference.PreferenceViewActivity"
            android:theme="@style/AppTheme.Preference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MediaProjectionRequestActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service
            android:name=".AppService"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>
